.request-form form {
  width: 380px;
  margin: 0 auto;
}
.request-form form .ant-input, .request-form form .upload-button {
  height: 54px;
}
.request-form form .upload-button {
  width: 83px;
  border-radius: 4px 0 0 4px;
  border-width: 1px;
  border-style: solid;
  border-color: black
}
.request-form form .upload {
  display: flex;
  flex-direction: row;;
}

.request-form .input-data {
  margin-bottom: 50px;
}

.request-form .input-phone ~ span {
  font-family: 'Nunito', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7E7E7E;
  margin-bottom: 25px;
}

.request-form .radio-group {
  margin-top: 25px;
  margin-bottom: 47px;
}

.request-form .signup {
  text-align: center;
}

.request-form .signup .ant-btn {
  margin-top: 50px;
}

.input-file {
  opacity: 0;
  position: absolute;
}